/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

header, footer {
    background-color: #223345;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #00090c75;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0e2e4f;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

footer p {
    margin: 10px 0 0;
    font-size: 14px;
}

/* Tombol */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.button-edit {
    background-color: #007BFF;
    text-decoration: none;
}

.button-edit:hover {
    text-decoration: none;
    background-color: #0056b3;
}

.button-delete {
    text-decoration: none;
    background-color: #dc3545;
}

.button-delete:hover {
    text-decoration: none;
    background-color: #c82333;
}

/* Navbar */
.navbar {
    background-color: #007BFF;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

}

.navbar .nav-links {
    float: right;
    text-decoration: none;

}

.navbar .nav-links a {
    margin: 0;
    text-decoration: none;

}
